{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />

<html>
<head>
    <title>login</title>
</head>
<body class="register_login_body">
    <center>
        <button type="button" onclick="goto_register()" class="button"> <p class="register_login_home_p">GO Register</p> </button>
    </center>

<script>
    function goto_register(){
        location.href="/user/register"
    }
</script>

<div class="register_login_div">
    <center>
        {% if errors %}
            {% for error in errors %}
                <strong style="color:black;font-size:150%;">{{forloop.counter }} : {{error}} </strong><br>
                {% if not forloop.last %}
                    <br>
                {% endif %}
            {% endfor %}
        {% endif %}
    </center>

    <center>
        <form action="" method="post" class="register_login_form">
        <br>USER NAME : <br><input class="register_login_form_input" type="text" name="user_name" placeholder="user_name"><br><br>
        PASSWORD : <br><input class="register_login_form_input" type="password" name="password" placeholder="password"><br><br>
        <input class="register_login_input_form" type="submit" value="Submit">
        </form><br>
    </center>
</div>

</body>
</html>
