{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />

<html>
<head>
    <title>register</title>
</head>
<body class="register_login_body">
    <center><button type="button" onclick="goto_login()" class="button"> <p class="register_login_home_p">GO Login</p> </button></center>

<script>
    function goto_login(){
        location.href="/user/login"
    }
</script>

<div class="register_login_div">
    <center>{% if errors %}
        {% for error in errors %}
            <strong style="color:black;font-size:150%;">{{forloop.counter }} : {{error}} </strong><br>
            {% if not forloop.last %}
                <br>
            {% endif %}
        {% endfor %}
    {% endif %}</center>

    <center>{% if register %}
        <strong style="color:black;font-size:150%;"> SUCCESS !! </strong>
    {% endif %}</center>

    <center><form action="" method="post" class="register_login_form">
        <br>NAME : <br><input class="register_login_form_input" type="text" name="name" placeholder="name"><br><br>
        USER NAME : <br><input class="register_login_form_input" type="text" name="user_name" placeholder="user_name"><br><br>
        PASSWORD : <br><input class="register_login_form_input" type="password" name="password" placeholder="password"><br><br>
        E-mail : <br><input class="register_login_form_input" type="text" name="email" placeholder="email (not require)"><br><br>
        <input class="register_login_input_form" type="submit" value="Submit">
    </form><br></center>
</div>

</body>
</html>
