{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'users/css/style.css' %}" />

<html>
    <head>
        <title>home</title>
    </head>
    <body class="register_login_body">

        <button type="button" onclick="log_out()" class="button logout_button"><p class="register_login_home_p logout_p">Log Out</p></button>
        <center><button type="button" onclick="add_book()" class="button"><p class="register_login_home_p">Add Book</p></button></center><br>
        <center><button type="button" onclick="add_publisher()" class="button"><p class="register_login_home_p">Add Publisher</p></button></center><br>
        <center><button type="button" onclick="add_author()" class="button"><p class="register_login_home_p">Add Author</p></button></center>

        <p id ="show_form"></p>
        <center><p id="show_message_ajax"></p></center>
        <center><p id="show_error_js"></p></center>

        <script>
            function log_out(){
                location.href="/user/logout"
            }

            function submit_book(){
                var isbn = document.getElementById("isbn").value
                var title = document.getElementById("title").value
                var author = document.getElementById("author").value
                var publisher = document.getElementById("publisher").value
                var action = "add_book"; //action ro tarif kardim ta betoonim too tabe home besh begim ke kodom ajax ro run kon
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("show_message_ajax").innerHTML=xhttp.responseText
                    }
                };
                xhttp.open("POST", "/home/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("isbn="+isbn+"&title="+title+"&author="+author+"&publisher="+publisher+"&action="+action);
            }

            function submit_publisher(){
                var name = document.getElementById("name_publisher").value
                var action = "add_publisher";
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("show_message_ajax").innerHTML=xhttp.responseText
                    }
                };
                xhttp.open("POST", "/home/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("name="+name+"&action="+action);
            }

            function submit_author(){
                var name = document.getElementById("name_author").value
                var action = "add_author";
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function() {
                    if (this.readyState == 4 && this.status == 200) {
                        document.getElementById("show_message_ajax").innerHTML=xhttp.responseText
                    }
                };
                xhttp.open("POST", "/home/", true);
                xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                xhttp.send("name="+name+"&action="+action);
            }

            function validate_add_book(){
                var isbn = document.getElementById("isbn").value
                var title = document.getElementById("title").value
                var author = document.getElementById("author").value
                var publisher = document.getElementById("publisher").value
                if (isbn == "")
                    document.getElementById("show_error_js").innerHTML="Enter The Isbn"
                else if (title=="")
                    document.getElementById("show_error_js").innerHTML="Enter The title"
                else if (author=="")
                    document.getElementById("show_error_js").innerHTML="Enter The author"
                else if (publisher=="")
                    document.getElementById("show_error_js").innerHTML="Enter The publisher"
                else
                    return submit_book()
            }

            function add_book(){
                html='<center><div class="home_div">\
                    <br>ISBN : <br><input type="text"  id="isbn" placeholder="isbn" class="input_div_home"><br><br>\
                    TITLE : <br><input type="text" id="title" placeholder="title" class="input_div_home"><br><br>\
                    AUTHOR : <br><input type="text" id="author" placeholder="author" class="input_div_home"><br><br>\
                    PUBLISHER : <br><input type="text" id="publisher" placeholder="publisher" class="input_div_home"><br><br>\
                    <input type="submit" value="Submit" onclick="return validate_add_book()" class="submit_div_home">\
                </div><br></center>'
                document.getElementById("show_form").innerHTML=html;
            }

            function validate_add_publisher(){
                var name = document.getElementById("name_publisher").value
                if (name == "")
                    document.getElementById("show_error_js").innerHTML="Enter The Name Publisher"
                else
                    return submit_publisher()
            }

            function add_publisher(){
                html='<center><div class="home_div">\
                        <br>NAME : <br><input type="text"  id="name_publisher" placeholder="name" class="input_div_home"><br><br>\
                        <input type="submit" value="Submit" onclick="return validate_add_publisher()" class="submit_div_home">\
                    </div><br></center>'
                document.getElementById("show_form").innerHTML=html;
            }

            function validate_add_author(){
                var name = document.getElementById("name_author").value
                if (name == "")
                    document.getElementById("show_error_js").innerHTML="Enter The Name Author"
                else
                    return submit_author()
            }

            function add_author(){
                html='<center><div class="home_div">\
                        <br>NAME : <br><input type="text"  id="name_author" placeholder="name" class="input_div_home"><br><br>\
                        <input type="submit" value="Submit" onclick="return validate_add_author()" class="submit_div_home">\
                    </div><br></center>'
                document.getElementById("show_form").innerHTML=html;
            }
        </script>
    </body>
</html>
