body.register_login_body {
	background: url("../images/book-background-14.jpg") no-repeat;
	background-size: 100%
}

button.button {
	height: 6%;
    width: 11%;
    border-radius: 5px;
    border: 1px solid black;
    border-radius:20px;
}

button.logout_button{
	height: 5%;
    width: 5%;
    position: absolute;
}

p.register_login_home_p{
	color:red;
	font-size:110%;
	font-weight:600;
}

p.logout_p{
	color:red;
	font-size:100%;
	font-weight:600;
}

div.register_login_div{
	 height:30%;
	 margin:5% auto;
}

form.register_login_form{
	font-family:sans-serif;
	font-size:medium;
	font-weight:600;
}

form.register_login_form input.register_login_form_input{
	border-radius:20px;
	border:2px solid black;
	padding:12px 20px;
}

form.register_login_form input.register_login_input_form{
	color:red;font-size:130%;
	border-radius:20px;
	border:1px solid black;
	padding:12px 20px;
	font-weight:600;
}

p#show_message_ajax{
	color:red;
	font-size:22px;
	font-weight:bold;
}

p#show_error_js{
	color:red;
	font-size:22px;
	font-weight:bold;
}

div.home_div{
	font-family: sans-serif;
	font-size: small;
	font-weight: 600;
	height: 30% ; 
	margin: 10% auto;
}

div.home_div input.input_div_home{
	border-radius:20px;
	border: 2px solid black;
	padding: 12px 20px;
}

div.home_div input.submit_div_home{
	color:red;
	font-size:130%;
	border-radius:20px;
	border: 1px solid black;
	padding: 12px 20px;
	font-weight: 600;
}